*{
		margin 0;
		padding 0;
	}
	.f1{
		height: 180px;
		width: 570px;
		border:	2px solid #16AFA9;
		padding-top: 15px;

	}
	.f2{
		height: 800px;
		width: 540px;
		border:	2px solid #16AFA9;
		padding-top: 15px;
		margin-left: 15px;
	}

	.image {
		padding-left: 30px;
		float: left;
	}
	.pImage{
		margin: 0 auto;
		display: block;
		border: 1px solid #16AFA9;

	}
	.products {
		margin: 20px auto;
		border: 1px solid red; 
		clear: both;
		width: 520px;
		height: 300px;

	}
	.product {
		width: 160px;
		outline: 2px solid #16AFA9;
		margin-left: 10px;
		margin-top: 10px;
		float: left;
	}
	#product3 {
		margin-right: 10px;
	}
	.button {
		margin: 10px auto;
		display: block;
		border:	2px solid blue;
		color: blue;
		clear:both;
	}
	.productName{
		color: blue;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
	}
	.price{
		margin: 10px 10px;
		border: 2px solid #16AFA9;
		color: blue;
		font-style: italic;
		float: right;
	}
	h2 {
		color: blue;
		text-align: center;
	}
	.tbasket {
		width: 520px;
		border-collapse: collapse;
		border: 1px solid #16AFA9;
		margin: 0 auto;
		color: blue;
		font-size: 16px;
		font-weight: 700;
	}
	td{
		border: 1px solid #16AFA9;
		margin-left: 5px;
	}